<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <a href="/admin/register">Register</a>
    <a href="/admin/product">Product</a>
    <a href="/admin/category">Category</a>
    <a href="#">Customer</a>
    <a href="#">Order</a>
    <a href="/admin/logout">LogOut</a>
    <table border="1px">
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Action</th>
        </tr>
        <% for(let i in result) { %>
            <tr>
                <td><%= result[i].username %></td>
                <td><%= result[i].password %></td>
                <td><%= result[i].first_name %></td>
                <td><%= result[i].last_name %></td>
                <td>
                    <a href="/admin/update/<%= result[i].id %>">Edit</a>
                    <a href="/admin/delete/<%= result[i].id %>">Delete</a>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>
