<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="card">
        <div>
            <form action="/admin/update/<%= result.id %>" method="POST">
                <label>Username</label>
                <input type="text" name="username" value="<%= result.username %>">
                <label>First Name</label>
                <input type="text" name="first_name" value="<%= result.first_name %>">
                <label>Last Name</label>
                <input type="text" name="last_name" value="<%= result.last_name %>">
                <label>Password</label>
                <input type="text" name="password" value="<%= result.password %>">
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
</body>
</html>